<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Code Search</h1>

	<p>Enter a code to search </p>

	<form action="#" th:object="${searchCriteria}" method="GET"
		th:action="@{/codes/dosearch}" class="form-horizontal">

		<!-- Code Number field -->
		<div class="form-group">
			<label for="number" class="control-label col-xs-2">Account
				Number</label>
			<div class="col-xs-2">
				<input type="text" class="form-control" id="number"
					th:field="*{codeNumber}" placeholder="Enter a code number"
					style="width: 10em;" />
			</div>
			<div class="col-xs-8">Enter a valid 9 digit number</div>
		</div>

		<!-- Code Number errors (if any) -->
		<div class="form-group">
			<div class="control-label col-xs-2">&nbsp;</div>
			<div class="col-xs-2">&nbsp;</div>
			<div class="col-xs-8">
				<span th:if="${#fields.hasErrors('codeNumber')}"
					style="color: red; font-size: smaller" th:errors="*{codeNumber}">Incorrect
					data</span>
			</div>
		</div>

		<!--  Submit button -->
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<button type="submit" class="btn btn-primary">Find</button>
			</div>
		</div>
	</form>

	<div th:replace="footer :: copy"></div>

</body>
</html>
